 
  @font-face {
    font-family: "San Francisco UL";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  
  @font-face {
    font-family: "San Francisco Thin";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  
  @font-face {
    font-family: "San Francisco Regular";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }


@font-face {
    font-family: myname;
    src: url(../src/assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);
}
  
  
  @font-face {
    font-family: "San Francisco Medium";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  

  @font-face {
    font-family: "San Francisco SB";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  
  @font-face {
    font-family: "San Francisco Bold";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }